extends pug/helpers/_pageStructore

//-
  =======================================================
  In this a block for including page or anythings
  =======================================================
block includes
  include pug/helpers/_helpers

//-
  =======================================================
  In this a block we can create a variables for this page
  =======================================================
block variables
  - var Title = "SDesign";
//-
  =======================================================
  In this a block for add CSS file for this page
  =======================================================
block stylesheet
  title #{Title}
  //- Add a logo icon for title bar
  link(rel="shortcut icon", href="imgs/logo.png", type="image/x-icon")
  //- Normalize Library
  link(rel="stylesheet", href="css/normalize.css")
  //- Fontawesome Library
  link(rel="stylesheet", href="css/fontawesome.min.css")
  //- Add Lato Font From Google Fonts
  link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,700&display=swap")
  link(rel="stylesheet", href="css/main.css")


//-
  ====================================================================================================================
                                              In this a block for page content
  ====================================================================================================================
block content 
  //- ***************************************** Start Setting Box *****************************************
  .setting-box
    .toggele-setting
      i.fa.fa-gear
    .settings-container
      //-=== Colors Box
      .option-box 
        h4 Colors 
        ul.colors-lists
          -var colors = ["#FF9800", "#E91E63", "#009688", "#03a9f4", "#4caf50"]
          -for (var i = 0; i < 5; i = i + 1)
            -if (i == 0)
              li.active(data-color= colors[i])
            -else
              li(data-color= colors[i])
      //-=== Background Box
      .option-box.random-background
        h4 Random Backgrounds
        span.yes.active(data-background = "yes") Yes
        span.no(data-background = "no") No
      //-=== Bullets Box
      .option-box.show-bullets
        h4 Show Bullets
        span.yes.active(data-bullets = "show") Show
        span.no(data-bullets = "hide") Hide
      //-=== Reset Option
      button.reset-option Reset Option
  //- ***************************************** End Setting Box *****************************************

  //- ***************************************** Start Nav Bullets *****************************************
  .nav-bullets 
    .bullet(data-section="#about")
      .tooltip About Us
    .bullet(data-section="#ourSkills")
      .tooltip Skills
    .bullet(data-section="#gallery")
      .tooltip Gallery
    .bullet(data-section="#timeline")
      .tooltip Timeline
    .bullet(data-section="#features")
      .tooltip Features
    .bullet(data-section="#testimonials")
      .tooltip Testimonials
    .bullet(data-section="#contact")
      .tooltip Contact Us
  //- ***************************************** End Nav Bullets *****************************************

  //- ***************************************** Start Lading *****************************************
  header
    nav 
      .container 
        .logo 
          //- img(src="imgs/logo.png", alt="Logo")
          p #[span SD]esign
        ul.links.list-unstyled
          li: a.active(href="#", data-section="header") Home
          li: a(href="#about", data-section="#about") About
          li: a(href="#ourSkills", data-section="#ourSkills") Skills
          li: a(href="#gallery", data-section="#gallery") Gallery
          li: a(href="#timeline", data-section="#timeline") Timeline
          li: a(href="#features", data-section="#features") Features
          li: a(href="#testimonials", data-section="#testimonials") Testimonials
          li: a(href="#contact", data-section="#contact") Contact
    .intro-text 
      h1 We Are #[span Creative] Agency 
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus fugiat molestiae ipsa, deleniti quidem quas!
  //- ***************************************** End Lading ******************************************

  //- ***************************************** Start About Us ******************************************
  section#about.about-us 
    .container 
      .info-box 
        h2 About Us 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis alias dolor ab commodi odio excepturi dolore cumque voluptatem officiis, eius suscipit nihil velit aperiam, provident ratione placeat! Voluptatem, excepturi dicta!
      .image-box 
        img(src="imgs/about/about.png", alt="About image")
  //- ***************************************** End About Us ******************************************

  //- ***************************************** Start Our Skills ******************************************
  section#ourSkills.our-skills 
    .container 
      h2 Our Skills 
      .skill-box 
        .skill-name HTML 
        .skill-progress: span(data-progress="90%")
      .skill-box 
        .skill-name CSS
        .skill-progress: span(data-progress="70%")
      .skill-box 
        .skill-name Javascript
        .skill-progress: span(data-progress="50%")
      .skill-box 
        .skill-name Python 
        .skill-progress: span(data-progress="60%")
      .skill-box 
        .skill-name Php
        .skill-progress: span(data-progress="90%")
      .skill-box 
        .skill-name MySQL
        .skill-progress: span(data-progress="80%")
  //- ***************************************** End Our Skills ******************************************

  //- ***************************************** Start Our Gallery ******************************************
  section#gallery.our-gallery 
    .container 
      h2 Our Gallery 
      .img-box 
        img(src="imgs/header/1.jpg", alt="Gallery One")
        img(src="imgs/header/2.jpg", alt="Gallery Two")
        img(src="imgs/header/3.jpg", alt="Gallery Three")
        img(src="imgs/header/4.jpg", alt="Gallery Four")
  //- ***************************************** End Our Gallery ******************************************

  //- ***************************************** Start Timeline ******************************************
  section#timeline.timeline 
    .container 
      h2 Timeline
      .timeline-content
        .year 2018
        .left 
          .content
            h3 Testing Heading
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo dignissimos rerum deserunt adipisci fuga rem maiores nesciunt qui facilis assumenda.
        .clearfix
        .right
          .content
            h3 Testing Heading
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo dignissimos rerum deserunt adipisci fuga rem maiores nesciunt qui facilis assumenda.
        .clearfix
        .year 2016
        .left 
          .content
            h3 Testing Heading
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo dignissimos rerum deserunt adipisci fuga rem maiores nesciunt qui facilis assumenda.
        .clearfix
        .right 
          .content
            h3 Testing Heading
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo dignissimos rerum deserunt adipisci fuga rem maiores nesciunt qui facilis assumenda.
        .clearfix
        .left
          .content
            h3 Testing Heading
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo dignissimos rerum deserunt adipisci fuga rem maiores nesciunt qui facilis assumenda.
        .clearfix
  //- ***************************************** End Timeline ******************************************

  //- ***************************************** Start Our Features ******************************************
  sectio#features.features 
    .container 
      h2 Our Features 
      .feat-box 
        img(src="imgs/features/01.png", alt="Feat 1")
        h4 Developement 
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt, tempore.
      .feat-box 
        img(src="imgs/features/02.png", alt="Feat 2")
        h4 Web Design 
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt, tempore.
      .feat-box 
        img(src="imgs/features/03.png", alt="Feat 3")
        h4 Graphic Design 
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt, tempore.
      .feat-box 
        img(src="imgs/features/04.png", alt="Feat 4")
        h4 Mobile Developement 
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt, tempore.
      .feat-box 
        img(src="imgs/features/03.png", alt="Feat 5")
        h4 Design 
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt, tempore.
      .feat-box 
        img(src="imgs/features/04.png", alt="Feat 6")
        h4 Programming 
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt, tempore.
      .clearfix
  //- ***************************************** End Our Features ******************************************

  //- ***************************************** Start Testimonials ******************************************
  section#testimonials.testimonials 
    h2 Testimonials
    .container
      .testim-box 
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos, ea.
        .person-info 
          img(src="imgs/testimonials/01.jpg", alt="Testim 01")
          h4 Mohammed Dr 
          p CEO At Company
      .testim-box 
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus similique excepturi reiciendis! Iste fugit tempore, distinctio ducimus earum iure beatae.
        .person-info 
          img(src="imgs/testimonials/02.png", alt="Testim 02")
          h4 Mahdi zeo 
          p CEO At Company
      .testim-box 
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos, ea.
        .person-info 
          img(src="imgs/testimonials/03.png", alt="Testim 03")
          h4 Kiven Kik
          p CEO At Company
    .clearfix
  //- ***************************************** End Testimonials ******************************************

  //- ***************************************** Start Contact Us ******************************************
  #contact.contact 
    .container 
      h2 Contact Us
      form(action="") 
        .left 
          input(type="text", name="username", placeholder="Your Name")
          input(type="text", name="phone", placeholder="Your Phone")
          input(type="email", name="email", placeholder="Your Email")
          input(type="text", name="subject", placeholder="Subject")
        .right
          textarea(name="message", placeholder="Your Message")
          input(type="submit", value="Send")
  //- ***************************************** End Contact Us ******************************************

//-
  ====================================================================================================================
  In this a block for add Js file for this page
  ====================================================================================================================
block script
  script(src="script/script-min.js") 