extends pug/helpers/_pageStructore

//-
  =======================================================
  In this a block for including page or anythings
  =======================================================
block includes
  include pug/helpers/_helpers

//-
  =======================================================
  In this a block we can create a variables for this page
  =======================================================
block variables
  - var Title = "SDesign";
//-
  =======================================================
  In this a block for add CSS file for this page
  =======================================================
block stylesheet
  title #{Title}
  //- Add a logo icon for title bar
  link(rel="shortcut icon", href="imgs/logo.png", type="image/x-icon")
  //- Normalize Library
  link(rel="stylesheet", href="css/normalize.css")
  //- Fontawesome Library
  link(rel="stylesheet", href="css/fontawesome.min.css")
  //- Add Lato Font From Google Fonts
  link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,700&display=swap")
  link(rel="stylesheet", href="css/main.css")


//-
  ====================================================================================================================
                                              In this a block for page content
  ====================================================================================================================
block content 
  //- ***************************************** Start Setting Box *****************************************
  .setting-box
    .toggele-setting
      i.fa.fa-gear
    .settings-container
      //-=== Colors Box
      .option-box 
        h4 Colors 
        ul.colors-lists
          -var colors = ["#FF9800", "#E91E63", "#009688", "#03a9f4", "#4caf50"]
          -for (var i = 0; i < 5; i = i + 1)
            -if (i == 0)
              li.active(data-color= colors[i])
            -else
              li(data-color= colors[i])
      //-=== Background Box
      .option-box.random-background
        h4 Random Backgrounds
        span.yes.active(data-background = "yes") Yes
        span.no(data-background = "no") No

  //- ***************************************** End Setting Box *****************************************

  //- ***************************************** Start Lading *****************************************
  header
    nav 
      .container 
        .logo 
          //- img(src="imgs/logo.png", alt="Logo")
          p #[span SD]esign
        ul.links.list-unstyled
          li: a.active(href="#") Home
          li: a(href="#") About
          li: a(href="#") Services
          li: a(href="#") Product
          li: a(href="#") Contact
    .intro-text 
      h1 We Are #[span Creative] Agency 
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus fugiat molestiae ipsa, deleniti quidem quas!
  //- ***************************************** End Lading ******************************************

  //- ***************************************** Start About Us ******************************************
  section#about.about-us 
    .container 
      .info-box 
        h2 About Us 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis alias dolor ab commodi odio excepturi dolore cumque voluptatem officiis, eius suscipit nihil velit aperiam, provident ratione placeat! Voluptatem, excepturi dicta!
      .image-box 
        img(src="imgs/about/about.png", alt="About image")
  //- ***************************************** End About Us ******************************************

  //- ***************************************** Start Our Skills ******************************************
  section#ourSkills.our-skills 
    .container 
      h2 Our Skills 
      .skill-box 
        .skill-name HTML 
        .skill-progress: span(data-progress="90%")
      .skill-box 
        .skill-name CSS
        .skill-progress: span(data-progress="70%")
      .skill-box 
        .skill-name Javascript
        .skill-progress: span(data-progress="50%")
      .skill-box 
        .skill-name Python 
        .skill-progress: span(data-progress="60%")
      .skill-box 
        .skill-name Php
        .skill-progress: span(data-progress="90%")
      .skill-box 
        .skill-name MySQL
        .skill-progress: span(data-progress="80%")
  //- ***************************************** End Our Skills ******************************************

//-
  ====================================================================================================================
  In this a block for add Js file for this page
  ====================================================================================================================
block script
  script(src="script/script-min.js") 