// ====================================== Start Global Rules ======================================
* { box-sizing: border-box }
body { font-family: 'Lato', sans-serif }
.list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}
:root {
  --main-color : #FF9800;
}
a { text-decoration: none }
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto 
}
.clearfix { clear: both }
// ====================================== End Global Rules ======================================


// ====================================== Start Setting Box ======================================
.setting-box {
  position: fixed;
  left: -200px;
  top:0;
  width: 200px;
  min-height: 100%;
  z-index: 9999;
  background-color: white;
  transition: .5s;
  border: 1px solid #eee;
  &.open { left: 0 }

  //--- Fontawesone icon
  .toggele-setting {
    position: absolute;
    top: 100px;
    right: -30px;
    text-align: center;
    cursor: pointer;
    background: white;
    i {
      padding: 8px 0;
      width: 30px;
    }
  }
  //--- Setting container
  .settings-container {
    //-- Option Box
    .option-box {
      padding: 10px;
      text-align: center;
      background-color: #EEE;
      margin: 10px;

      h4 {
        margin: 0;
        color: #666;
        font-size: 14px;
      }
      .colors-lists {
        list-style: none;
        text-align: center;
        padding: 0;
        margin: 10px 0 0;

        li {
          display: inline-block;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          cursor: pointer;
          opacity: 0.3;
          border: 3px solid #EEE;
          &.active { opacity: 1; border-color: white }

          $colors: #FF9800, #E91E63, #009688, #03a9f4, #4caf50;
          @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
                background-color: nth($colors, $i);
            }
          }
        }
      }
      //------ Background Box
      span {
        width: 50px;
        margin-top: 10px;
        font-size: 14px;
        padding: 4px 10px;
        display: inline-block;
        border-radius: 4px;
        opacity: 0.5;
        cursor: pointer;
        transition: .4s;
        background-color: var(--main-color);
        margin-right: 10px;

        &.active { opacity: 1; }
      }
    }

    //-- Reset Option
    .reset-option {
      background-color: #f44336;
      border: none;
      width: 178px;
      margin: 10px auto;
      display: block;
      color: white;
      font-weight: bold;
      padding: 10px;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}
// ====================================== End Setting Box ======================================

// ====================================== Start Nav Bullets ======================================
.nav-bullets {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  z-index: 10000;

  .bullet {
    width: 15px;
    height: 15px;
    border: 3px solid var(--main-color);
    margin: 15px auto;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    &:hover .tooltip { display: block }

    .tooltip {
      background-color: var(--main-color);
      color: white;
      padding: 8px 10px;
      width: 120px;
      position: absolute;
      top: -10px;
      right: 32px;
      text-align: center;
      cursor: default;
      pointer-events: none;
      display: none;

      &::before {
        content: "";
        border-style: solid;
        border-width: 8px;
        border-color: transparent transparent transparent var(--main-color);
        width: 0;
        height: 0;
        position: absolute;
        right: -16px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
// ====================================== End Nav Bullets ======================================

// ====================================== Start Landing ======================================
header {
  min-height: 100vh;
  background-image: url("../imgs/header/1.jpg");
  background-size: cover;
  position: relative;

  //--- Overlay
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: transparentize(#000, 0.4);
  }

  //--- Nav
  nav {
    .container {
      color: white;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      //-- Logo
      .logo {
        padding: 15px;
        font-size: 20px;
        span { color: var(--main-color); font-weight: bold }
      }
      //-- Links
      .links-container {
        display: none;
        &.open {
          background-color: white;
          display: block;
          position: absolute;
          top: 70px;
          left: 0;
          width: 100%;
          border-radius: 6px;
          z-index: 999;
          .links li {
            a {
              display: block;
              padding: 10px 20px;
              font-weight: bold;
              color: black;
              transition: .4s;
              &.active, &:hover {
                background-color: var(--main-color);
                color: white;
                padding-left: 35px;
              }
            }
          }
        }
      }
      
      //-- Toggle-menu
      .toggle-menu {
        background: none;
        border: none;
        width: 40px;
        cursor: pointer;
        position: relative;
        &.clicked::before {
          content: "";
          position: absolute;
          bottom: -13px;
          left: 10px;
          border-color: transparent transparent white transparent;
          border-style: solid;
          border-width: 10px;
        }
        span {
          display: block;
          height: 4px;
          background-color: white;
          &:not(:last-child) { margin-bottom: 4px }
        }
      }
    }
  }

  //--- Introduction Text
  .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 80%;

    h1 {
      font-size: 35px;
      margin: 0 0 12px;
      span { color: var(--main-color) }
    }
    p {
      line-height: 1.6;
      font-size: 20px;
    }
  }
}
// ====================================== End Landing ======================================

// ====================================== Start About Us ======================================
.about-us {
  padding-top: 50px;
  padding-bottom: 50px;
  .container {
    display: flex;
    align-items: center;
  
    .info-box  {
      flex: 1;
      padding: 30px;
      h2 {
        font-weight: bold;
        font-size: 30px;
        color: var(--main-color);
        margin: 0 0 10px;
      }
      p {
        line-height: 1.7;
        color: #767676;
      }
    }
    .image-box {
      flex: 1;
      text-align: center;
      img {
        width: 100%;
      }
    }
  }
}
// ====================================== End About Us ======================================

// ====================================== Start Our Skills ======================================
.our-skills {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #EEE;
  .container {
    h2 {
      font-weight: bold;
      font-size: 30px;
      color: var(--main-color);
      margin: 0 0 50px;
      text-align: center;
    }
    .skill-box {
      background-color: white;
      display: flex;
      padding: 15px;
      margin-bottom: 15px;
      .skill-name {
        font-weight: bold;
        width: 140px;
        text-align: center;
        line-height: 30px;
      }
      .skill-progress {
        height: 30px;
        width: 100%;
        background-color: #f6f6f6;
        border-radius: 6px;
        position: relative;
        overflow: hidden;
        span {
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 0;
          background-color: var(--main-color);
          transition: 1s;
        }
      }
    }
  }
}
// ====================================== End Our Skills ======================================

// ====================================== Start Our Gallery ======================================
.our-gallery {
  padding-top: 50px;
  padding-bottom: 50px;

  .container {
    h2 {
      font-weight: bold;
      font-size: 30px;
      color: var(--main-color);
      margin: 0 0 50px;
      text-align: center;
    }
    .img-box {
      text-align: center;
      img {
        width: 200px;
        height: 200px;
        padding: 3px;
        background-color: #f6f6f6;
        border: 1px solid #CCC;
        margin: 5px;
        cursor: pointer;
      }
    }
  }
}
//------- Popup Overlay
.popup-overlay {
  position: fixed;
  inset: 0;
  background: transparentize(#000, 0.3);
  z-index: 100000;
}
//------- Popup Box
.popup-Box {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #CCC;
  padding: 20px;
  z-index: 100001;
  h3 {
    font-weight: bold;
    text-align: center;
    color: var(--main-color);
    margin: 0 0 20px;
  }
  img {
    max-width: 100%;
  }
  .popup-close {
    position: absolute;
    top: -20px;
    right: -20px;
    background-color: var(--main-color);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    border-radius: 50%;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }
}
// ====================================== End Our Gallery ======================================

// ====================================== Start Timeline ======================================
.timeline {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #EEE;
  h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 50px;
    text-align: center;
  }
  .timeline-content {
    position: relative;
    overflow: hidden;
    &::before {
      content: "";
      width: 2px;
      height: 100%;
      background-color: var(--main-color);
      position: absolute;
      left: 50%;
      top: 0;
      margin-left: -1px;
    }
    .year {
      margin: 20px auto;
      width: 50px;
      background-color: var(--main-color);
      color: white;
      position: relative;
      font-weight: bold;
      border-radius: 4px;
      text-align: center;
      padding: 2px 5px;
    }
    .left, .right {
      width: calc(50% - 25px);
      margin-bottom: 40px;
      position: relative;
      &::before {
        content: "";
        width: 14px;
        height: 10px;
        background-color: white;
        border: 3px solid var(--main-color);
        border-radius: 50%;
        position: absolute;
        top: 20px;
      }
      .content {
        padding: 20px;
        background-color: white;
        &::before {
          content: "";
          position: absolute;
          top: 20px;
          height: 0;
          width: 0;
          border-style: solid;
          border-width: 10px;
        }

        h3 {
          font-weight: bold;
          color: var(--main-color);
          margin: 0 0 10px;
        }
        p {
          color: #666;
          margin: 0;
          line-height: 1.6;
        }
      }
    }
    .left { 
      float: left;
      &::before { right: -35px }
      .content::before {
        right: -20px;
        border-color: transparent transparent transparent white;
      }
    }
    .right { 
      float: right;
      &::before { left: -35px }
      .content::before {
        left: -20px;
        border-color: transparent white transparent transparent;
      }
    }
  }
}
// ====================================== End Timeline ======================================

// ====================================== Start Features ======================================
.features {
  .container {
    padding-top: 80px;
    padding-bottom: 80px;

    h2 {
      font-weight: bold;
      font-size: 30px;
      color: var(--main-color);
      margin: 0 0 60px;
      text-align: center;
    }
    .feat-box  {
      text-align: center;
      width: calc(100% / 3);
      float: left;
      margin-bottom: 40px;
  
      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        padding: 5px;
        border: 1px dashed var(--main-color);
      }
      h4 {
        font-size: 22px;
        margin: 15px 0 40px;
        position: relative;
        &::before {
          content: "";
          width: 40px;
          height: 4px;
          background-color: var(--main-color);
          position: absolute;
          left: 50%;
          margin-left: -20px;
          bottom: -22px;
        }
      }
      p {
        width: 80%;
        margin: 0 auto;
        line-height: 1.6;
        color: #706f6f;
      }
    }
  
  }
}
// ====================================== End Features ======================================

// ====================================== Start Testimonials ======================================
.testimonials {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  &::before {
    content: "";
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    height: 100%;
  }
  &::after {
    content: "";
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #333;
    height: 100%;
  }
  
  h2 {
    font-weight: bold;
    font-size: 30px;
    color: white;
    margin: 0 0 30px;
    text-align: center;
    position: relative;
    z-index: 2
  }
  .container {
    .testim-box {
      position: relative;
      z-index: 2;
      width: calc(98% / 3);
      float: left;
      background-color: white;
      font-size: 20px;
      padding: 20px;
      &:not(:last-of-type) {
        margin-right: 1%;
      }

      & > p {
        margin: 0 0 20px;
        line-height: 1.5;
        font-size: 15px;
        text-align: center;
        color: #707070;
        font-style: italic;
      }
      .person-info {
        overflow: hidden;
        img {
          float: left;
          width: 60px;
          height: 60px;
          border-radius: 50px;
          margin-right: 20px;
          border: 1px solid var(--main-color);
          padding: 4px;
        }
        h4 {
          margin: 5px 0 7px;
          font-size: 18px;
        }
        p {
          color: #707070;
          margin: 0;
          font-size: 14px;
        }
      }
    }
  }
}
// ====================================== End Testimonials ======================================

// ====================================== Start Contact Us ======================================
.contact {
  min-height: 600px;
  background: url("../imgs/contact/contact-bg.jpg");
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: transparentize(#000, 0.2);
  }
  .container {
    position: relative;
    z-index: 2;
    h2 {
      font-weight: bold;
      font-size: 30px;
      color: white;
      margin: 0 0 30px;
      text-align: center;
    }
    form {
      display: flex;
      justify-content: space-between;
      max-width: 800px;
      margin: auto;

      > div {
        width: 49%;
        input:not([type="submit"]), textarea {
          display: block;
          width: 100%;
          padding: 10px;
          margin-bottom: 15px;
          border: 1px solid #555;
          background-color: rgb(218 218 218 / 0.19);
          height: 40px;
          &:focus {
            outline: 1px solid var(--main-color);
          }
          &:focus::-webkit-input-placeholder {
            opacity: 0;
            transition: .4s;
          }
        }
        textarea {
          resize: none;
          height: 150px;
        }
        input[type="submit"] {
          padding: 10px;
          height: 40px;
          width: 100%;
          background-color: var(--main-color);
          font-weight: bold;
          border-color: transparent;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}
// ====================================== End Contact Us ======================================

// ====================================== Start Footer ======================================
footer {
  background-color: #333;
  color: white;
  padding: 15px;
  text-align: center;
  span { color: var(--main-color) }
}
// ====================================== End Footer ======================================

// ====================================== Start Grid System ======================================
//-------------------- Extra Large Devices --------------
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

//-------------------- Large Devices --------------
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  header nav {
    .toggle-menu { display: none }
    .container .links-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      .links {
        display: flex;
        justify-content: center;
        align-items: center;
        
        li { 
          margin-right: 15px;
          a { 
            color: inherit;
            transition: .3s;
            &.active, &:hover { color: var(--main-color) }
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  //---------- Features -------------
  .features .container {
    .feat-box { width: calc(100% / 2) }
  }
}

//-------------------- Medium Devices --------------
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 767px) {
  //---------- Header -------------
  .about-us .container {
    flex-direction: column;
    text-align: center;
    .info-box { padding: 0 0 30px}
  }

  //---------- Skills -------------
  .our-skills .container {
    .skill-box {
      flex-direction: column;
      .skill-name {
        width: 100%;
      }
    }
  }

  //---------- Gallery -------------
  .our-gallery { text-align: center }

  //---------- Features -------------
  .features .container {
    .feat-box { width: calc(100% / 2) }
  }

  //---------- Testimonials -------------
  .testimonials .container {
    .testim-box {
      float: none;
      width: 100%;
      margin-bottom: 20px;
      &:not(:last-of-type) { margin-right: 0 }
      .person-info {
        overflow: visible;
        text-align: center;
        img { float: none }
      }
    }
  }

  //---------- Contact -------------
  .contact .container {
    form {
      flex-direction: column;
      div { width: 100% }
    }
  }

  //---------- footer -------------
  footer { font-size: 14px }
}

//-------------------- Small Devices --------------
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 575px) {
  //---------- Header -------------
  header .intro-text {
    h1 { font-size: 22px }
    p { font-size: 16px }
  }

  //---------- Header -------------
  .about-us .container {
    flex-direction: column;
    text-align: center;
    .info-box { padding: 0 0 30px}
  }

  //---------- Skills -------------
  .our-skills .container {
    .skill-box {
      flex-direction: column;
      .skill-name {
        width: 100%;
      }
    }
  }

  //---------- Gallery -------------
  .our-gallery { text-align: center }

  //---------- Timeline -------------
  .timeline .container { 
    .timeline-content .year { margin-bottom: 40px }
    .timeline-content .left,
    .timeline-content .right {
      float: none ;
      width: 100%;
      text-align: center;
      &::before {
        top: -20%;
        left: 50%;
        transform: translateX(-50%);
      }
      .content::before {
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        border-color: transparent transparent white transparent;
      }
    }
  }

  //---------- Features -------------
  .features .container {
    .feat-box { width: 100%; }
  }
}
// ====================================== End Grid System ======================================


